@media screen and (max-width: 576px) {
    .navbar {
        width: 90%;
        margin: 0 auto;
        align-items: center;
    }
    .nav-link {
        display: none;
    }
    .fa-bars {
        display: block !important;
        cursor: pointer;
    }
    .banner-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 60px;
        padding: 0 20px;
    }
    .banner-heading {
        font-size: 2.25rem;
    }
    .banner-description {
        width: 55%;
        margin: 0 auto;
    }
    .form {
        width: 100%;
        flex-direction: column;
    }
    .popular-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 80px;
        flex-direction: column;
    }
    .popular-content {
        width: 90%;
        margin: 0 auto;
    }
}