@media screen and (max-width: 576px) {
    .navbar {
        width: 90%;
        margin: 0 auto;
        align-items: center;
    }
    .nav-link {
        display: none;
    }
    .fa-bars {
        display: block !important;
        cursor: pointer;
    }
    .banner-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 60px;
        padding: 0 20px;
    }
    .banner-heading {
        font-size: 2.25rem;
    }
    .banner-description {
        width: 55%;
        margin: 0 auto;
    }
    .form {
        width: 100%;
        flex-direction: column;
    }
    .popular-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 80px;
        flex-direction: column;
    }
    .popular-content {
        width: 90%;
        margin: 0 auto;
    }
    .destination-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 80px;
    }
    .responsive-heading {
        font-size: 1.6rem;
    }
    .destination-description {
        width: 90%;
        margin: 0 auto;
    }
    .destination-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7 {
        grid-column: span 1;
    }
    .choose-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 80px;
    }
    .choose-container-2 {
        width: 100%;
        margin: 0 auto;
        margin-top: 25px;
    }
    .choose-container {
        flex-direction: column;
    }
    .deal-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 80px;
    }
    .deal-container-1 {
        min-height: 80vh;
        padding: 30px
    }
    .deal-container-2 {
        min-height: 80vh;
        padding: 30px
    }
    .deal-flex {
        flex-wrap: wrap;
    }
    .perfect-section {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        margin-top: 80px;
    }
    .perfect-content {
        width: 100%;
    }
    .perfect-video {
        width: 100%;
    }
}