/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
} */
body {
    font-family: "Mulish", sans-serif;
}
/* Shared Items */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.custom-heading {
    font-size: 2.5rem;
    color: #131318;
    font-weight: 800;
}
.custom-heading-2 {
    font-size: 1.5rem;
    color: #131318;
    font-weight: 800;
}
.custom-description {
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.7);
    line-height: 26px;
}
.btn-primary {
    font-size: 1.25rem;
    font-weight: 800;
    background-color: #FF5400;
    color: #ffffff;
    padding: 12px 26px;
    border-radius: 8px;
    border: 2px solid #FF5400;
    transition: 0.3s;
}
.btn-primary:hover {
    background-color: transparent;
    color: #FF5400;
}
/* Navbar */
.lav-logo-heading {
    font-size: 2.25rem;
    font-weight: 800;
}
.lav-logo-heading span {
    color: #FF5400;
}
.nav-links {
    font-size: 1.125rem;
    color: rgba(66, 66, 71, 1);
    transition: 0.3s;
}
.nav-links:hover {
    color: #FF5400;
}
.fa-bars {
    display: none !important;
    transition: 0.3s;
}
.fa-bars:hover {
    color: #FF5400;
}
/* Banner section */
.banner-section {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(../img/Banner.png);
    min-height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 30px;
}
.banner-heading {
    font-size: 4rem;
    color: #ffffff;
    font-weight: 800;
}
.form {
    background-color: #ffffff4e;
    padding: 14px;
}
.text , .select {
    background-color: #ffffff;
    border: none;
    outline: none;
    padding: 12px 16px  !important;
    display: block;
}
/* Popular Section */
.popular-section {
    margin-top: 100px;
}
/* Destination Section */
.destination-section {
    margin-top: 100px;
}
.destination-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}
.destination-container img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-1  {
    grid-column: span 6;
    position: relative;
}
.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.75rem;
    color: #ffffff;
    font-weight: 800;
}
.box-2   {
    grid-column: span 6;
    position: relative;
}
.box-3  {
    grid-column: span 4;
    position: relative;
}
.box-4  {
    grid-column: span 5;
    position: relative;
}
.box-5 {
    grid-column: span 3;
    position: relative;
}
.box-6 {
    grid-column: span 5;
    position: relative;
}
.box-7  {
    grid-column: span 7;
    position: relative;
}
  /* Choose Section */
.choose-section {
    margin-top: 100px;
}
.choose-container {
    margin-top: 50px;
}
.choose-1 {
    background-color: #fffbf7;
    border: 1px solid #feedd9;
    border-radius: 16px;
    padding: 32px;
}
.choose-2 {
    background-color: #f4fdff;
    border: 1px solid #cbf4fd;
    border-radius: 16px;
    padding: 32px;
}
.choose-container-2 {
    margin-top: 25px;
}
.choose-3 {
    background-color: #fef6f6;
    border: 1px solid #fad2d2;
    border-radius: 16px;
    padding: 32px;
}
/* Deal Section */
.deal-section {
    margin-top: 100px;
}
.deal-container-1{
    background: url(../img/deal-1.png);
    min-height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    padding-right: 80px;
}
.deal-container-2{
    background: url(../img/deal-2.png);
    min-height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    padding-left: 80px;
}
.deal-box{
    max-width: 600px;
    background: rgba(255, 255, 255, 0.77);
    backdrop-filter: blur(2px);
    padding: 50px;
    border-radius: 16px;
}
.deal-icon {
    color: #FF5400;
}
.price {
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
}
