* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
/* Shared Items */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.custom-heading {
    font-size: 2.5rem;
    color: #131318;
    font-weight: 800;
}
.custom-heading-2 {
    font-size: 1.5rem;
    color: #131318;
    font-weight: 800;
}
.custom-description {
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.7);
    line-height: 26px;
}
.btn-primary {
    font-size: 1.25rem;
    font-weight: 800;
    background-color: #FF5400;
    color: #ffffff;
    padding: 14px 35px;
    border-radius: 8px;
    border: 2px solid #FF5400;
    transition: 0.3s;
}
.btn-primary:hover {
    background-color: transparent;
    color: #FF5400;
}